
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <meta charset="ISO-8859-1">

<title>Create Blog</title>
</head>
<body>
<div ng-controller="JobController as ctrl">


<div ng-hide="currentUser==''">
<div class="panel panel-default" ng-controller="JobController as ctrl">
<div class="panel heading">
<span class="lead">Please fill the job description..</span>
</div>
<div class="formcontainer">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<div class="row">
 <div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="title">Title</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.title" id="title"
class="title form-control input-sm" placeholder="Enter the job title">
</div>
</div>
</div>
 
<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="qualification">Qualification</label>
<div class="col-md-7">
<input type="text" width="100" height="50" ng-model="ctrl.job.qualification" id="qualification"
class=" qualification form-control input-sm" >
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-lable" for="description">Description</label>
<div class="col-md-7">
<textarea rows="20" cols="300" ng-model="ctrl.job.description" id="description"
class="description form-control input-sm"></textarea>
</div>
</div>
</div>

<div class="row">
<div class="form-actions floatRight">
<input type="submit" value="POST JOB" class="btn btn-primary btn-sm">
<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset Form</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>
